In [1]:
import pandas as pd

In [12]:
%timeit data = pd.read_csv('/Users/konstantinnistratov/PycharmProjects/university_dp_al/lab_03/random.txt')

2.06 ms ± 85.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [6]:
%timeit seria = pd.DataFrame(data)

5.01 µs ± 185 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [9]:
seria.size

9999

In [15]:
mean_ = seria.mean()

In [14]:
seria

      0.8709856899499058
0               0.852128
1               0.948819
2               0.693807
3               0.245468
4               0.204816
...                  ...
9994            0.849595
9995            0.961843
9996            0.015869
9997            0.759667
9998            0.878783

[9999 rows x 1 columns]

In [17]:
seria.shape

(9999, 1)

In [18]:
seria.describe

<bound method NDFrame.describe of       0.8709856899499058
0               0.852128
1               0.948819
2               0.693807
3               0.245468
4               0.204816
...                  ...
9994            0.849595
9995            0.961843
9996            0.015869
9997            0.759667
9998            0.878783

[9999 rows x 1 columns]>

In [19]:
seria * 10

      0.8709856899499058
0               8.521275
1               9.488187
2               6.938066
3               2.454677
4               2.048164
...                  ...
9994            8.495951
9995            9.618426
9996            0.158686
9997            7.596667
9998            8.787833

[9999 rows x 1 columns]